<meta property="og:type" content="website">
<meta property="og:url" content="{{ custom_base_url }}{{ request.path }}">
<meta property="og:title" content="{% firstof og_title %}">
<meta property="og:description" content="{% firstof og_description %}">
<meta property="og:image" content="{% firstof og_image desktop_dark_url %}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">f
<meta property="og:site_name" content="STREAK & DISCIPLINE">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% firstof og_title  %}">
<meta name="twitter:description" content="{% firstof og_description %}">
<meta name="twitter:image" content="{% firstof og_image desktop_dark_url %}">
<meta name="twitter:site" content="@lastissa">


