<div class="nav-loader loader-hidden" id="navLoader" aria-hidden="true">
    <div class="loader-pulse"></div>

    <div class="loader-text-wrapper">
        <span class="loader-text active">Opening next page...</span>
        <span class="loader-text">Preparing necessary components...</span>
        <span class="loader-text">Forging your discipline...</span>
        <span class="loader-text">Almost there...</span>
        <span class="loader-text">Slow connection detected...</span>
        <span class="loader-text">Switching to optimized ui...</span>
        <span class="loader-text">Switching...</span>
        <span class="loader-text">Switching...</span>
        <span class="loader-text">Optimized UI experience failure...</span>
        <span class="loader-text">Too much traffic dectected.</span>
        <span class="loader-text">Site Unresponsive..</span>
        <span class="loader-text">Site Unresponsive...</span>
        <span class="loader-text">Site Unresponsive...</span>
        <span class="loader-text">Site Unresponsive...</span>
        <span class="loader-text">Site Unresponsive......</span>
        <span class="loader-text">Attemptng Retry</span>

    </div>
</div>