<!-- ========== LOADER ========== -->
<div class="page-loader" id="loader">
    <div class="loader-pulse"></div>
    <div class="loader-text-wrapper">
        <span class="loader-text">Preparing neccessary components...</span>
        <span class="loader-text active">Forging your discipline...</span>
        <span class="loader-text">no dsicipline == no balance</span>
        <span class="loader-text">Almost ready...</span>
        <span class="loader-text">Still working... hang tight</span>
        <span class="loader-text">Slow connection detected...</span>
        <span class="loader-text">switching to optimized UI</span>

    </div>
</div>